*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

.body{
    padding: 0;
    margin: 0 auto;
    width: 390px;
    height: 90vh;
    background-image: url(/Images/wet-sphere-reflective-water-abstract-beauty-generated-by-ai.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 45px;

}

.formulaire {
    margin: 0 auto;
    width: 370px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
    /* background: rgba(217, 217, 217, 0.40); */
    padding-top: 100px;
    text-align: center;
    display: block;   
}

.form1{
    margin-top: 20px;
}

input{
    width: 320px;
    height: 40px;  
    border-radius: 10px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #461800;
    margin-top: 30px;
    font-size: 15px;
    color:white;

}

.checkbox{
    display: flex;
    justify-content: start;
}

h1{
    color: #fff;
}

td img {
    border-radius: 50px;
    margin-left: 5px;
    vertical-align: middle;
}

.bodyT{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width: 82vw;
    height: 90vh;
    background-color: rgba(128, 128, 128, 0.253);
    backdrop-filter: blur(7px);
    box-shadow: 3px 1px #0005;
    border-radius: 8px;

}

.table_header{
    background-color: #fff4;
}
