<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fontawesome.com/$docs('/desktop/setup/upgrade/duotone')">
    <title>Interface apprenant</title>
</head>
<body>
  <main class="table">
    <section class="table_header">
        <h1>Liste des apprenants</h1>
    </section>
    <section class="table_body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Phtoto</th>
            <th>Noms Prénoms</th>
            <th>Sexe</th>
            <th>Téléphone</th>
            <th>Adresse e-mail</th>
            <th>Date de naissance</th>
            <th>Niveau</th>
            <th>Activité extrascolaire</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <td>1</td>
          <td>#</td>
          <td>NZE-EKOME Bernie Mathieu</td>
          <td>Féminin</td>
          <td>077795961</td>
          <td>ekomebernie@gmail.com</td>
          <td>08/01/1999</td>
          <td>3</td>
          <td>Athlétisme</td>
          <td><i class="fa-solid fa-trash"></i></td>
        </tbody>
      </table>
    </section>
  </main>  
</body>
</html>