<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/server.js"></script>
    <link rel="stylesheet" href="/View/Style/style.css">
    <title>AppGest</title>
</head>
<body>
   <div class="body">
    <div class="formulaire">
        <h1>App<span>Gest</span></h1>
        <form action="" method="post">
            <div>
                <input type="text" placeholder="Identifiant ou adresse mail">
            </div>
            <div class="form1">
                <input type="password" placeholder="Mot de passe" data-type="password">
            </div>
            <div class="checkbox">
                <input type="checkbox" id="preference2" name="preference2" value="Option 2">
                <label for="check"><span class="icon"></span> Gardez-moi connecté</label>
            </div>
        </form>
        <button type="submit" value="Submit">Se connecter</button>
    </div>

   </div> 
</body>
</html>