<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    <title>Interface apprenant</title>
</head>
<body class="bodyT">
  <main class="table">
    <section class="table_header">
        <h1>Liste des apprenants</h1>
    </section>
    <section class="table_body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Noms</th>
            <th>Prénoms</th>
            <th>Photo</th>
            <th>Adresse e-mail</th>           
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <td>1</td>
          <td>NZE-EKOME</td>
          <td>Bernie Mathieu</td>
          <td><img src="/Images/Bernie.jpg" alt="" width="36" height="36"></td>
          <td>ekomebernie@gmail.com</td>
          <td><i class="fa-solid fa-trash"></i></td>
        </tbody>
      </table>
    </section>
  </main>  
</body>
</html>